<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="alert alert-success text-center mb-2 col" role="alert">
                An email with verification link has been sent to you.
            </div>
        </div>
        <div class="row justify-content-center">
            <a href="/" class="btn btn-success px-3">Go Home</a>
        </div>
    </div>
    <%- include("../include/bottom.ejs") %>