<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <form autocomplete="off" method="POST" action="/admin/add-movie" class="container" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="decription"></textarea>
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="string" class="form-control" id="year" placeholder="year">
                </div>
                <div class="custom-file mb-3">
                    <label class="custom-file-label" for="img">Choose Image</label>
                    <input type="file" class="custom-file-input" id="img" name="img">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" class="form-control" id="date" aria-describedby="dateHelp" placeholder="date"
                        name="date">
                    <small id="dateHelp" class="form-text text-dark">format should be exactly as such: jan 11 2021,
                        08:30 pm</small>
                </div>

                <div class="form-group">
                    <label for="seats">Seats</label>
                    <input type="number" class="form-control" id="seats" name="seats">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="btn btn-success btn-lg btn-block">Add Movie</button>
            </div>
        </div>
    </form>
    <%- include("../include/bottom.ejs") %>