<%- include("../include/top.ejs") %>
</head>

<body>
    <div class="row bg-dark justify-content-center" style="margin: 0 !important">
        <h1 class="text-danger">Metro Admin</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-12 col-md-8 justify-content-center align-items-center">
                <h1 class="text-danger display-4 text-center">
                    Welcome to the admin Dashboard
                </h1>
                <div class="row justify-content-center my-2">
                    <a href="/admin/authenticate" class="btn px-4 btn-success m-1">Authenticate</a>
                    <a href="/admin/set-password" class=" btn px-4 btn-primary m-1">Set
                        Password</a>
                    <a href="/" class="btn px-4 btn-warning m-1">Cancel</a>
                </div>
            </div>
            <small class="text-muted">* Please make sure you contacted the db admin first before
                proceeding with any
                operation.</small>
        </div>
    </div>

    <%- include("../include/bottom.ejs") %>