.main-card {
  position: relative;
  width: 40rem;
  height: 34rem;
}

.main {
  margin: 0 !important;
}

.card-title {
  height: 4rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.content {
  justify-content: center;
}

.img {
  width: 19.5rem;
  height: 32rem;
  margin: 1rem 0.5rem;
}

.description {
  height: 9.6rem;
  line-height: 1.2rem;
  overflow: auto;
}

.admin-actions .btn {
  width: 4rem;
  margin: 0 0.25rem;
}

.badge-container {
  position: absolute;
  left: 0.2%;
  top: 0.2%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.badge-container .badge {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

@media (max-width: 630px) {
  .main-card {
    width: 98vw;
    margin: 2vh 2vw;
    height: auto;
  }

  .img {
    width: 98%;
    height: 98%;
    margin: 1%;
  }

  .description {
    height: auto;
  }
}
