<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col align-items-center justify-content-center">
                <div class="alert alert-danger text-center" role="alert">
                    page not found
                </div>
            </div>
        </div>
    </div>
    <%- include("../include/bottom.ejs") %>