<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-1 text-success text-center"><%= name %></h1>
        </div>
        <hr>
        <div class="row justify-content-center">
            <a href="/bookings" class="btn btn-lg btn-primary m-1">My Bookings</a>
            <a href="/change-name" class="btn btn-lg btn-success m-1">Change Name</a>
            <a href="/change-password" class="btn btn-lg btn-warning m-1">Change Password</a>
            <a href="/delete-account" class="btn btn-lg btn-danger m-1">Delete Account</a>
        </div>
    </div>
    <%- include("../include/bottom.ejs") %>