<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="display-1 text-success text-center"><%= name %></h1>
                <hr>
                <a href="/bookings" class="btn btn-lg btn-primary btn-block my-2">My Bookings</a>
                <a href="/change-name" class="btn btn-lg btn-success btn-block my-2">Change Name</a>
                <a href="/change-password" class="btn btn-lg btn-warning btn-block my-2">Change Password</a>
                <a href="/delete-account" class="btn btn-lg btn-danger btn-block my-2">Delete Account</a>
            </div>
        </div>
    </div>
    <%- include("../include/bottom.ejs") %>